[{kernel, 
	[{start_timer, true}, {start_pg2, true}]},
 {sasl, 
	[{sasl_error_logger, {file, "var/log/errdb_sasl.log"}}]},
 {erlrrd, 
    [{rrdtool_cmd, "rrdtool -"}, 
     {rrdtool_pool, 20}]},
 {errdb,
	[{rrdb, [{root, "var/rrdb"}, {templates, "etc/errdb/templates"}]},
	 {httpd, [{port, 8000}]},
	 {log_level, 4},
	 {log_path, "var/log/errdb.log"}]}
].
